<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="Calc"
    tools:ignore="ExtraText">

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tomestone"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.StatCalculator">
    <!--        android:roundIcon="@mipmap/ic_launcher_round"-->


        <activity android:name="Calc.Calculator"></activity>

        <activity android:name="Calc.Main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>